doctype html
html
  head
    title minima.List
    link(rel="stylesheet" type="text/css" href='css/style.css')
    script(src="js/index.js")
  body
    h1.heading minima.List
    input.input-field(placeholder="What needs to be done?")
    span.hint &#9166;
    .todo-list
    button.reset reset
